.wp-block-navigation {
    position: relative;
    --navigation-layout-justification-setting: flex-start;
    --navigation-layout-direction: row;
    --navigation-layout-wrap: wrap;
    --navigation-layout-justify: flex-start;
    --navigation-layout-align: center
}

.wp-block-navigation ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0
}

.wp-block-navigation ul,
.wp-block-navigation ul li {
    list-style: none;
    padding: 0
}

.wp-block-navigation .wp-block-navigation-item {
    align-items: center;
    background-color: inherit;
    display: flex;
    position: relative
}

.wp-block-navigation .wp-block-navigation-item__content {
    display: block
}

.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
    color: inherit
}

.wp-block-navigation :where(a),
.wp-block-navigation :where(a:active),
.wp-block-navigation :where(a:focus) {
    text-decoration: none
}

.wp-block-navigation.is-vertical {
    --navigation-layout-direction: column;
    --navigation-layout-justify: initial;
    --navigation-layout-align: flex-start
}

button.wp-block-navigation-item__content {
    background-color: initial;
    border: none;
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-align: left;
    text-transform: inherit
}

.wp-block-navigation__container,
.wp-block-navigation__responsive-close,
.wp-block-navigation__responsive-container,
.wp-block-navigation__responsive-container-content,
.wp-block-navigation__responsive-dialog {
    gap: inherit
}

:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)) {
    padding: .5em 1em
}

.wp-block-navigation__container {
    align-items: var(--navigation-layout-align, initial);
    display: flex;
    flex-direction: var(--navigation-layout-direction, initial);
    flex-wrap: var(--navigation-layout-wrap, wrap);
    justify-content: var(--navigation-layout-justify, initial);
    list-style: none;
    margin: 0;
    padding-left: 0
}

.wp-block-navigation__container .is-responsive {
    display: none
}

.wp-block-navigation__container:only-child {
    flex-grow: 1
}

.wp-block-navigation__responsive-container {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.wp-block-navigation__responsive-container :where(.wp-block-navigation-item a) {
    color: inherit
}

.wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
    align-items: var(--navigation-layout-align, initial);
    display: flex;
    flex-direction: var(--navigation-layout-direction, initial);
    flex-wrap: var(--navigation-layout-wrap, wrap);
    justify-content: var(--navigation-layout-justify, initial)
}

.wp-block-navigation__responsive-container:not(.is-menu-open.is-menu-open) {
    background-color: inherit !important;
    color: inherit !important
}

.wp-block-navigation__responsive-container.is-menu-open {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: clamp(1rem, var(--wp--style--root--padding-top), 20rem) clamp(1rem, var(--wp--style--root--padding-right), 20rem) clamp(1rem, var(--wp--style--root--padding-bottom), 20rem) clamp(1rem, var(--wp--style--root--padding-left), 20rem);
    z-index: 100000
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    align-items: var(--navigation-layout-justification-setting, inherit);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: visible;
    padding-top: calc(2rem + 24px)
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    justify-content: flex-start
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    gap: inherit
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
    padding: 0
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    align-items: var(--navigation-layout-justification-setting, initial);
    display: flex;
    flex-direction: column
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container {
    background: #0000 !important;
    color: inherit !important
}

@media (min-width:600px) {
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        background-color: inherit;
        display: block;
        position: relative;
        width: 100%;
        z-index: auto
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
        display: none
    }
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: #fff
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
    color: #000
}

.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
    background: #0000;
    border: none;
    color: currentColor;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-transform: inherit;
    vertical-align: middle
}

.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
    fill: currentColor;
    display: block;
    height: 24px;
    pointer-events: none;
    width: 24px
}

.wp-block-navigation__responsive-container-open {
    display: flex
}

.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

@media (min-width:600px) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none
    }
}

.wp-block-navigation__responsive-container-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

.wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

.wp-block-navigation__responsive-close {
    width: 100%
}

.has-modal-open .wp-block-navigation__responsive-close {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--wp--style--global--wide-size, 100%)
}

.wp-block-navigation__responsive-close:focus {
    outline: none
}

.is-menu-open .wp-block-navigation__responsive-close,
.is-menu-open .wp-block-navigation__responsive-container-content,
.is-menu-open .wp-block-navigation__responsive-dialog {
    box-sizing: border-box
}

.wp-block-navigation__responsive-dialog {
    position: relative
}

html.has-modal-open {
    overflow: hidden
}

:root {
    scrollbar-gutter: stable
}

body {
    font-size-adjust: cap-height .738
}

html,
body {
    height: 100%
}

.wp-site-blocks {
    min-height: 100%;
    overflow-y: hidden
}

footer {
    margin-top: 2.75rem;
    padding-bottom: 100vh;
    box-shadow: inset 0 .125rem .25rem #00000013;
    margin-block-end: -100vh !important
}

.wp-block-site-title a {
    vertical-align: top;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: clip
}

.wp-block-site-title a:before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 14.889'%3e%3cpath d='M79.943.201a7.245 7.245 0 1 0-.003 14.49A7.245 7.245 0 0 0 79.943.2zm-51.119.37c-3.766 0-6.06 2.553-6.06 6.763s2.322 6.986 6.06 6.986c3.766 0 5.125-2.267 5.45-4.812h-2.83c-.25 1.397-1.159 2.592-2.704 2.592-1.87 0-3.008-1.398-3.008-4.729 0-3.303 1.139-4.58 3.008-4.58 1.545 0 2.453 1 2.703 2.397h2.83C34.005 2.56 31.841.57 28.824.57m51.119.023c3.774 0 6.85 3.077 6.85 6.851s-3.076 6.85-6.85 6.85-6.85-3.075-6.85-6.85 3.077-6.85 6.85-6.85M.047.754v13.38h2.719V8.583H8.29v-2.21H2.766v-3.36h6.377L9.15.754zm10.834 0V3.16h4.045v10.975h2.71V3.16h3.952V.754zm29.953 0v8.19c0 3.33 1.435 5.376 5.35 5.376 3.895 0 5.357-2.035 5.357-5.283V.754h-2.73v8.392c0 2.018-1.091 2.88-2.627 2.88-1.546 0-2.602-.88-2.602-2.88V.754zm13.4 0v13.38h2.691V4.929l6.358 9.207h2.433V.754h-2.7v8.855L56.907.754zm14.471 0v13.38h2.693V.755zm19.766 0v13.38h2.693V4.929l6.356 9.207h2.434V.754h-2.702v8.855L91.145.754zm-8.527.746-.112.078q-.431.3-.847.559a5.36 5.36 0 0 0-2.461 1.135 3 3 0 0 1-.97.101l-.2-.016-.012.2q-.03.565-.014 1.093a5.4 5.4 0 0 0-.775 2.795 5.377 5.377 0 0 0 4.98 5.375q.155.123.292.227l.119.092.119-.092q.136-.105.29-.227a5.38 5.38 0 0 0 4.983-5.375 5.4 5.4 0 0 0-.777-2.797q.017-.527-.014-1.091l-.011-.2-.2.016a3 3 0 0 1-.968-.102 5.36 5.36 0 0 0-2.46-1.132q-.417-.259-.849-.56zm0 .41c1.578 1.087 3.028 1.776 4.238 1.77.223 5.19-2.745 7.854-4.238 9.007-1.494-1.153-4.461-3.818-4.239-9.007 1.21.006 2.661-.684 4.239-1.77m-.035 1.211v.316l-.188.157-.014.717-1.754.181V4.49s-.006-.061-.03-.084l-.003-.002h-.002l-.015-.004h-.004l-.002.002-.006.002-.004.004-.004.004a.2.2 0 0 0-.024.088l-.132.014-.002.068.101.016c-.23.653-.389 1.16-.57 1.713h-.067s.086.522.729.517c.616-.005.687-.517.687-.517h-.058l-.549-1.686 1.697.27-.045 2.126c0 .174-.343.152-.627.165-.022.172-.08.55-.007.62h1.853c.073-.07.013-.448-.01-.62-.283-.013-.627.01-.627-.165l-.045-2.126 1.672-.264-.547 1.68h-.06s.071.512.687.517c.644.005.73-.517.73-.517h-.067c-.182-.552-.34-1.059-.569-1.71l.125-.019-.002-.068-.158-.016a.2.2 0 0 0-.023-.086l-.002-.002h-.002v-.004l-.006-.004-.006-.002h-.01l-.008.004-.006.004c-.024.02-.03.074-.031.08l-1.727-.177-.013-.717-.188-.156V3.12h-.035zm-2.065 1.84c.006.45.011.901.03 1.35h-.487zm4.17 0 .459 1.35h-.488c.018-.449.023-.9.029-1.35m-4.035.1c.151.424.325.835.494 1.25h-.53q.032-.626.036-1.25m3.9 0q.005.624.036 1.25h-.53c.17-.415.343-.826.494-1.25M76.424 7.85c.039.315 1.07 1.445 1.633 1.863.2.148.638.295.908.33s.495.085.643.184c-.033.271.149.521.35.523.205.002.313-.14.373-.495.22-.142.404-.176.61-.195.27-.025.41.032.826-.265.983-.7 1.943-1.954 1.746-1.984-.028-.004-.193.12-.265.175-.561.372-1.53.67-2.303.717-.088.005-.28.086-.289.215a.36.36 0 0 0 .074.234c.084.121.193.172.182.23-.01.056-.206.026-.329-.011-.13-.04-.224.083-.224.083s-.008-.092-.01-.14c-.011-.51-.247-.52-.36-.52-.347 0-.366.492-.381.651-.048-.044-.124-.104-.221-.073-.159.05-.498.086-.222-.122.07-.053.157-.2.157-.303 0-.11-.082-.23-.315-.245-.435-.028-1.662-.218-2.528-.89z'/%3e%3c/svg%3e");
    font-size: 0;
    line-height: 0
}

footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3e%3cpath fill='%23065cb4' fill-opacity='0.2' d='M14.9 7.53v1.6l-.96.8-.07 3.67-8.96.92s-.03-.46-.26-.46c-.2 0-.22.51-.22.51l-.68.07V15l.5.08C3.1 18.41 2.28 21 1.36 23.82H1s.43 2.67 3.72 2.65c3.15-.03 3.52-2.65 3.52-2.65h-.3l-2.82-8.61 8.68 1.37-.23 10.87c0 .89-1.75.77-3.2.83-.12.88-.42 2.82-.04 3.18h9.47c.37-.36.07-2.3-.05-3.18-1.45-.06-3.2.06-3.2-.83l-.23-10.87 8.54-1.35-2.8 8.59h-.3s.36 2.62 3.51 2.65c3.29.02 3.73-2.65 3.73-2.65h-.35c-.92-2.82-1.73-5.4-2.9-8.73l.64-.1-.01-.35-.81-.08c0-.04-.03-.5-.23-.5s-.25.41-.25.45l-8.83-.9-.07-3.67-.95-.8V7.52h-.35zm-10.55 9.4c.03 2.3.06 4.6.15 6.89H2l2.35-6.9zm21.3 0L28 23.81h-2.5c.1-2.29.12-4.6.14-6.9zm-20.6.5c.76 2.17 1.65 4.27 2.51 6.39h-2.7a160 160 0 0 0 .18-6.39zm19.92 0c.02 2.13.07 4.26.18 6.39h-2.7c.86-2.12 1.74-4.22 2.52-6.39zM55 18a2 2 0 0 0 0 4 2 2 0 0 0 0-4zm-.1 29.54v1.6l-.97.8-.07 3.67-8.95.92s-.04-.46-.26-.46c-.2 0-.22.51-.22.51l-.68.07-.01.35.51.08c-1.17 3.34-1.98 5.92-2.9 8.75H41s.44 2.67 3.72 2.64c3.15-.02 3.52-2.64 3.52-2.64h-.3l-2.81-8.61 8.68 1.37-.23 10.87c0 .89-1.76.77-3.2.83-.12.88-.42 2.82-.05 3.18h9.47c.38-.36.07-2.3-.04-3.18-1.45-.06-3.2.06-3.2-.83l-.23-10.87 8.53-1.35-2.8 8.59h-.3s.37 2.62 3.52 2.64c3.28.03 3.72-2.64 3.72-2.64h-.34c-.93-2.82-1.74-5.4-2.9-8.73l.63-.1v-.35l-.82-.08c0-.04-.03-.5-.22-.5-.21 0-.25.41-.25.45l-8.83-.9-.07-3.67-.96-.8v-1.62h-.35zm-10.55 9.4c.03 2.3.05 4.6.14 6.89h-2.48l2.34-6.9zm21.3 0L68 63.82h-2.48c.09-2.29.11-4.6.14-6.9zm-20.61.5c.77 2.17 1.65 4.27 2.52 6.39h-2.7c.1-2.13.16-4.26.18-6.4zm19.92 0c.02 2.13.08 4.26.18 6.39h-2.7c.87-2.12 1.75-4.22 2.52-6.4zM15 58a2 2 0 0 0 0 4 2 2 0 0 0 0-4z'/%3e%3c/svg%3e");
    background-size: 5.5rem
}

@media (width<600px) {
    header .wp-block-spacer {
        display: none
    }

    .mobile-flex~.wp-block-separator {
        margin-block-start: 0
    }

    .mobile-flex {
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
        display: flex
    }

    .mobile-hide {
        display: none
    }

    nav>.wp-block-navigation__responsive-container.is-menu-open {
        padding-top: 2.3rem
    }

    header+.wp-block-group {
        margin-top: 0
    }

    .wp-block-site-title {
        line-height: 1.5;
        margin-block-start: var(--wp--style--block-gap) !important
    }
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container {
    font-size: var(--wp--preset--font-size--extra-large);
    gap: .5rem;
    font-weight: 700
}

.wp-block-navigation__responsive-container.is-menu-open a {
    text-decoration: none
}

@media not (prefers-reduced-motion) {
    .wp-block-navigation__responsive-container.is-menu-open {
        animation: .3s ease-in-out forwards overlay-menu__custom-fade-in-animation
    }
}

@keyframes overlay-menu__custom-fade-in-animation {
    0% {
        transform: translate(100vw)
    }

    to {
        transform: translateY(0)
    }
}

.wp-block-spacer {
    clear: both
}

:root :where(.wp-block-template-part.has-background) {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1.25em 2.375em
}

.wp-block-site-title {
    box-sizing: border-box
}

.wp-block-site-title :where(a) {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-decoration: inherit
}

.wp-block-site-tagline {
    box-sizing: border-box
}

.wp-block-separator {
    border: none;
    border-top: 2px solid
}

.wp-block-separator.has-css-opacity {
    opacity: .4
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 100px
}

.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 1px
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 2px
}

.wp-block-navigation .wp-block-navigation-item__label {
    overflow-wrap: break-word
}

.wp-block-group {
    box-sizing: border-box
}

:where(.wp-block-group.wp-block-group-is-layout-constrained) {
    position: relative
}

:where(.wp-block-group.has-background) {
    padding: 1.25em 2.375em
}

h1.has-background {
    padding: 1.25em 2.375em
}

:root :where(p.has-background) {
    padding: 1.25em 2.375em
}

:where(p.has-text-color:not(.has-link-color)) a {
    color: inherit
}

.wp-block-columns {
    align-items: normal !important;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap !important
}

@media (min-width:782px) {
    .wp-block-columns {
        flex-wrap: nowrap !important
    }
}

@media (max-width:781px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 100% !important
    }
}

@media (min-width:782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 0;
        flex-grow: 1
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis] {
        flex-grow: 0
    }
}

:where(.wp-block-columns) {
    margin-bottom: 1.75em
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}

.has-text-align-center {
    text-align: center
}

.items-justified-left {
    justify-content: flex-start
}

.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #ddd;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

:root {
    --wp--preset--color--black: #000000;
    --wp--preset--color--foreground: #1d3557;
    --wp--preset--color--background: #f2f3f4;
    --wp--preset--color--secondary: #065cb4;
    --wp--preset--font-size--small: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.238), 1rem);
    --wp--preset--font-size--normal: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.238), 1.125rem);
    --wp--preset--font-size--extra-large: clamp(1.5rem, 1.5rem + ((1vw - 0.2rem) * 0.476), 1.75rem);
    --wp--preset--font-size--huge: clamp(2rem, 2rem + ((1vw - 0.2rem) * 0.952), 2.5rem);
    --wp--preset--font-family--merriweather: Merriweather, New York Small, Charter, Bitstream Charter, Cambria, Times New Roman, Times, serif;
    --wp--preset--font-family--publicsans: Public Sans, Libre Franklin, SF Pro Text, Franklin Gothic Book, source-sans-pro, system-ui, sans-serif;
    --wp--preset--spacing--50: clamp(30px, 5vw, 50px);
    --wp--custom--heading--typography--line-height: 1.2;
    --wp--custom--margin--horizontal: 30px;
}

:root {
    --wp--style--global--content-size: 826px;
    --wp--style--global--wide-size: 1160px;
}

:where(body) {
    margin: 0;
}

.wp-site-blocks {
    padding-top: var(--wp--style--root--padding-top);
    padding-bottom: var(--wp--style--root--padding-bottom);
}

.has-global-padding {
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);
}

.has-global-padding :where(:not(.alignfull.is-layout-flow) > .has-global-padding:not(.wp-block-block, .alignfull)) {
    padding-right: 0;
    padding-left: 0;
}

:where(.wp-site-blocks)>* {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
}

:where(.wp-site-blocks)> :first-child {
    margin-block-start: 0;
}

:where(.wp-site-blocks)> :last-child {
    margin-block-end: 0;
}

:root {
    --wp--style--block-gap: 1.5rem;
}

:root :where(.is-layout-flow)> :first-child {
    margin-block-start: 0;
}

:root :where(.is-layout-flow)> :last-child {
    margin-block-end: 0;
}

:root :where(.is-layout-flow)>* {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
}

:root :where(.is-layout-constrained)> :first-child {
    margin-block-start: 0;
}

:root :where(.is-layout-constrained)> :last-child {
    margin-block-end: 0;
}

:root :where(.is-layout-constrained)>* {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
}

:root :where(.is-layout-flex) {
    gap: 1.5rem;
}

.is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

.is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

.is-layout-flex> :is(*, div) {
    margin: 0;
}

body {
    background-color: var(--wp--preset--color--background);
    color: var(--wp--preset--color--black);
    font-family: var(--wp--preset--font-family--publicsans);
    font-size: var(--wp--preset--font-size--normal);
    line-height: 1.75;
    --wp--style--root--padding-top: 0px;
    --wp--style--root--padding-right: var(--wp--preset--spacing--50);
    --wp--style--root--padding-bottom: 0px;
    --wp--style--root--padding-left: var(--wp--preset--spacing--50);
}

a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--secondary);
    text-decoration: underline;
}

:root :where(a:where(:not(.wp-element-button)):hover) {
    color: var(--wp--preset--color--foreground);
}

h1 {
    color: var(--wp--preset--color--foreground);
    line-height: 1.2;
}

h1 {
    font-family: var(--wp--preset--font-family--merriweather);
    font-size: var(--wp--preset--font-size--huge);
    font-weight: var(--wp--custom--heading--typography--font-weight);
    line-height: var(--wp--custom--heading--typography--line-height);
}

:root :where(h1) {
    font-size-adjust: ex-height 0.553
}

.has-background-color {
    color: var(--wp--preset--color--background) !important;
}

.has-foreground-background-color {
    background-color: var(--wp--preset--color--foreground) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

:root :where(.wp-block-navigation) {
    font-size: var(--wp--preset--font-size--normal);
    line-height: 1.75;
}

:root :where(.wp-block-navigation a:where(:not(.wp-element-button))) {
    text-decoration: underline;
}

:root :where(.wp-block-navigation a:where(:not(.wp-element-button)):hover) {
    text-decoration: none;
}

:root :where(.wp-block-separator) {
    border-width: 0 0 1px 0;
}

:root :where(.wp-block-site-title) {
    font-family: var(--wp--preset--font-family--publicsans);
    font-size: var(--wp--preset--font-size--huge);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

:root :where(.wp-block-site-title) {
    font-size-adjust: cap-height 0.738
}

:root :where(.wp-block-site-title a:where(:not(.wp-element-button))) {
    text-decoration: none;
}

:root :where(.wp-block-site-title a:where(:not(.wp-element-button)):hover) {
    color: currentColor;
    text-decoration: underline;
}

:root :where(.wp-block-site-tagline) {
    font-size: var(--wp--preset--font-size--normal);
    margin-top: 0;
    padding-bottom: calc(0.25 * var(--wp--custom--margin--horizontal));
}

.wp-container-core-navigation-is-layout-ae9ae7ce {
    gap: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.wp-container-core-columns-is-layout-28f84493 {
    flex-wrap: nowrap;
}

.skip-link.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.skip-link.screen-reader-text:focus {
    background-color: #eee;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}